:root {
    font-family: 'Inter', system-ui, sans-serif;
    font-weight: 400;
    font-size: clamp(14px, 1.2vw, 24px);
    font-stretch: semi-expanded;
    color: #3A3A3A;
}

html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(
            90deg,
            #B5B5B5 0%,
            #B5B5B5 61.8%,
            #7D9DC1 61.8%,
            #7D9DC1 100%) repeat fixed;
    z-index: 1;
}

*, *::before, *::after { box-sizing: border-box; }
header {
    position: fixed;
    width: 100%;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    padding: 16px 40px;
    z-index: 1000;
    height: 80px;
}
main {
    padding-top: 80px;
}

.datenschutz-wrapper {
    padding: 80px 30px;
    width: clamp(500px, 60vw, 1000px);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}
.raecon_logo {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.raecon_logo img {
    width: clamp(120px, 3vw, 200px);
    height: auto;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.navbar_btn {
    background: transparent;
    color: #575656;
    border: none;
    font-weight: 600;
    letter-spacing: 0.05em;
    cursor: pointer;

    position: relative;
    text-decoration: none;
}


.navbar_btn:link,
.navbar_btn:visited {
    color: #575656;
}

.navbar_btn:hover,
.navbar_btn:focus-visible {
    color: #000;
}

.navbar_btn:active {
    transform: translateY(1px);
    opacity: 0.8;
}

.start-page {
    position: relative;
    overflow: hidden;
    padding: 33px 20px;
    margin: 30px;
}

.background-image img {
    position: absolute;
    left: 40%;
    top: -50px;
    border-radius: 50%;
    width: clamp(180px, 55%, 90vh);
    aspect-ratio: 1 / 1;
    object-fit: cover;
    opacity: 0.5;
    z-index:2;
}

.company-descr-container {
    position: relative;
    width: 40vw;
    background: rgba(255,255,255,0.87);
    display: flex;
    z-index: 3;
    gap: clamp(12px, 2vh, 48px);
    flex-direction: column;
    align-items: flex-start;
    padding: 45px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    margin-top: 20vw;
    margin-bottom: 15vw;
}

.company-descr {
    width: 100%;

    text-align: left;
    font-size: 20px;

    box-sizing: border-box;
}

.company-name {
    font-weight: 600;
    font-size: clamp(30px, 3vw, 72px);
    letter-spacing: 0.05em;
    width: 100%;
    text-align: left;
    gap: 0.5em;
}
.company-name-first {
    color: #4377B2;
}

.company-name-second {
    color: #757171;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 33px 20px;
    margin: 30px;
    gap: clamp(16px, 4vh, 72px);
}

.service-icon img {
    width: 30%;
    object-fit: contain;
    filter: drop-shadow(0px 16px 4px rgba(0, 0, 0, 0.25));
}

.service-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 0;
    min-width: 220px;
}
.services {
    display: grid;
    grid-auto-flow: column;   /* forces one row */
    grid-auto-columns: 1fr;   /* equal widths */
    gap: 12px;
}

.description-container {
    overflow-wrap: break-word;
    word-break: break-word;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    height: 100%;
    gap: clamp(10px, 2em, 48px);
    color: #575656;
    background: white;
    opacity: 0.87;
    border-radius: 16px;
    box-sizing: border-box;
    padding: 48px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

.headline {
    color: black;
    font-weight: 700;
    font-size: clamp(15px, 1.3vw, 32px);
    text-align: center;
}

.description{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.description li {
    margin-bottom: 1em;
}

.description li img {
    height: 20px;
}

.page-headline{
    font-size: clamp(24px, 3vw, 72px);
    font-weight: 600;
    color: white;
    position: relative;
    padding-left: 24px;
}

.page-headline::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.1em;

    width: 6px;
    height: 1.2em;

    background-color: #FFFFFF;
}

.expertise {
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 0;
    min-width: 220px;
}

.expertise-icon {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 89%;
    z-index: 2;
    width: clamp(60px, 30% ,100px);
    aspect-ratio: 1 / 1;
    filter: drop-shadow(0px 16px 4px rgba(0, 0, 0, 0.25));
}

.services-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 65vh;
    width: 100%;
}

.information-boxes {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    gap: 24px;
    align-items: stretch;
}

.information-box {
    display: flex;
    flex-direction: column;
    gap: clamp(10px, 2em, 48px);
    justify-content: flex-start;
    border-style: solid;
    border-width: 3px;
    border-radius: 8px;
    padding: 20px;
    border-color: white;
    color: white;
}

#first-information-box {
    align-items: flex-start;
}

#second-information-box {
    align-items: flex-end;
}

.information-box-headline {
    font-size: clamp(16px, 2vw, 32px);
    font-weight: 600;
}

.information-box-content {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: clamp(10px, 2em, 48px);
    padding: 0;
    margin: 0;
}

#first-information-content {
    text-align: left;
}

#second-information-content {
    text-align: right;
}

.bold {
    font-weight: bold;
}

.name {
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: clamp(16px, 2vw, 48px);
}

.contact-information-box {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: clamp(10px, 2em, 48px);
}

.contact-information {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: clamp(10px, 1em, 48px);
}

.contact-information a {
    text-decoration: none;
    color: #FFFFFF;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 16px 4px rgba(0, 0, 0, 0.25));
}

.image img {
    width: 55%;
}

#branchenkunden {
    height: 80px;
}

#Expertise {
    height: 80px;
}

#Leistungen {
    height: 80px;
}

#kontakt {
    height: 80px;
}

.footer {
    background: #f5f5f5;
    color: #575656;
    padding: 48px 40px;
    font-size: 14px;
    width: 100%;
}

.footer-inner {
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    gap: 32px;
    flex-wrap: wrap;
}

.impressum {
    font-style: normal; /* address reset */
    line-height: 1.6;
}

.footer a {
    color: #575656;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.legal-links {
    display: flex;
    gap: 24px;
    align-items: flex-start;
}

.lang-switch {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 18px;
}

.lang-switch a {
    padding: 6px 14px;
    background: #f0f0f0;
    border-radius: 6px;
    text-decoration: none;
    color: #333;
    transition: 0.2s;
}

.lang-switch a:hover {
    background: #ddd;
}

.datenschutz-navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 60%;
}

.datenschutz-button {
    background: transparent;
    color: #575656;
    border: none;
    font-weight: 600;
    letter-spacing: 0.05em;
    cursor: pointer;

    text-decoration: none;
}

@media (max-width: 1300px) {
        .services {
            grid-auto-flow: row;
            grid-template-columns: repeat(2, 1fr);
        }


    .expertise {
        margin-bottom: 50px;
    }

    .expertise-icon {
        width: 60px;
    }

    .service-icon img {
        width: 20%;
    }

    .services-box {
        min-height: auto;
    }

    .company-descr-container {
        width: auto;
    }

}

@media (max-width: 800px) {
    .navbar_btn {
        display: none;
    }
    .information-boxes {
        grid-template-columns: 1fr;
    }
    /*comment*/
    .services {
        grid-template-columns: 1fr;
    }

    .image img{
     width: 70%;
    }

    .background-image img {
        width: clamp(100px, 70vh, 75vw);
        left: 20%;
        overflow: hidden;
    }

    #second-information-content {
        text-align: left;
    }

    #second-information-box {
        align-items: flex-start;
    }

    .datenschutz-wrapper {
        width: 90%;
    }

}







